<div class="conteudo cor-principal">
    <div class="bloco-1">
        <div class="status cor-segundaria efeito-brilho-cor-segundaria">
            <h3>{{status}}</h3>
        </div>
        <div class="msg">
            <h1>{{status == 404 ? 'Pokemon não encontrado' : 'Desculpe, algo deu errado'}}</h1>
        </div>
    </div>
    <div class="bloco-2">
        <img src="assets/images/esnorlax.png" alt="dormindo">
    </div>
</div>
<div class="botao-voltar">
    <button class="btn-vermelho"><a href="/">Voltar ao Inicio</a></button>
</div>